<div id="columns">
<% Columnlog::Column.all.each do |column| %>
  <div class="column" id="column_<%= column.name %>">
		<h2><%= column.title %></h2>
    <br/>
      <div id="files">
      	<% column.get.each do |post| %>
      	  <b><%= post.body %></b><br/>
      	  <i><%= post.posted_at %></i> - <a href="<%=post.url%>">url</a>
      	  <p/>
      	<% end %>
      </div>
  </div>	
<% end %>
</div>