<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= Columnlog::Column.title %></title>
	
	<link rel="stylesheet" href="/stylesheets/<%= theme %>.css" type="text/css" media="all" title="default" charset="utf-8" />
</head>

<body>
	<div id="container">
		<div id="header">
			<h1><%= Columnlog::Column.title %></h1>
		</div>
	<%= yield %>
	<div id="footer">
		powered by <%= link_to "columnlog", 'http://github.com/quirkey/columnlog' %> : by <a href="http://www.github.com/mrb">mrb</a> and <a href="http://www.github.com/quirkey">quirkey</a></div>
	</div>
	</div>
</body>
</html>
